:root {
  --intense-frosting: rgb(246, 55, 143);
  --bright-canary: 255, 221, 0;
  --cream-pudding: rgb(245, 239, 232);
  --summer-sky: rgb(142, 165, 235);
}
body {
  background: var(--cream-pudding);
  text-align: center;
}
.hero {
  margin: 20px 0;
  color: rgb(1, 1, 109);
  background: rgba(var(--bright-canary), 0.45);
  border-radius: 10px;
  padding: 20px 40px;
}
.about-hero {
  margin: 50px 0;
}
h1,
h2 {
  font-family: "Dancing Script", cursive;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 45px;
}
h3,
h4,
h5 {
  font-size: 30px;
  font-family: "Edu NSW ACT Foundation", cursive;
}
h4 {
  color: var(--intense-frosting);
}
a {
  text-decoration: none;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 25px;
  color: rgb(var(--bright-canary));
}
a:hover {
  color: rgb(1, 1, 109);
}
p {
  text-align: justify;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 20px;
}
.btn-sky {
  background-color: var(--summer-sky);
}
.mini-nav {
  padding: 20px 10px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: var(--summer-sky);
  opacity: 0.9;
}
.stories {
  margin: 100px 20px;
}
.video {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
#french-day {
  background: rgba(var(--bright-canary), 0.1);
  border-radius: 4px;
  padding: 10px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 35px;
  }
  .cookies {
    width: 100px;
  }
  h3,
  h4,
  h5 {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
  .mini-nav {
    padding: 10px 5px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  p {
    font-size: 10px;
  }
  .cakes {
    width: 200px;
  }
  .video {
    width: 200px;
  }
  #rainbow-charlie {
    width: 150px;
  }
}
